@{
    ViewData["Title"] = "The Spence Collection - How Art can change your life";
}

<div class="sticker">
    <div class="stickerHeading"><h1>What is the Spence Collection?</h1></div>
    <h2>A Lifetime of Conversation with Contemporary Art</h2>
    <p>Over more than thirty years, we (Judy and Stuart Spence) have collected the works you see here. For a while, we lived in a house with enough wall space to show many pieces, but now our house is small and most of the work is in storage, or out on loan - or donated to various museums. This website is a way to present the works we love to those interested in this art and also to curators who may not be as familiar with some of these artists.
    <p>The Spences welcome submissions and information from anyone who feels they were affected by these artworks - whether you are an artist, a gallery owner, a collector, or just someone who enjoys art.  <a href="/comments">Send us your thoughts, recollections, or suggestions</a> and we would love to incorporate your feedback into this project.  <a href="/stories">~ Continue</a></p>
    <h2>Other Recommended Websites</h2>
    <p>If you like what you see here, we recommend exploring these other places that matter to us, e.g. <a href="http://www.mjt.org/">Museum of Jurassic Technology</a>, <a href="http://www.lagunaartmuseum.org/">Laguna Art Museum</a>, <a href="http://www.grandcentralartcenter.com">Grand Central Art Center</a>, <a href="http://www.moca-la.org/index.php">Museum of Contemporary Art</a>, and <a href="http://www.lacma.org/">LACMA</a>. From time to time we will reference galleries when there is an exhibition that we especially like.</p>
    <div class="clear"></div>
</div>

<div class="sticker floatLeft" style="width: 430px;">
    <div class="stickerHeading"><h1>About the Collectors</h1></div>
    <h2>Judith Vida-Spence and Stuart Spence</h2>
    <p>Judy and Stuart Spence met in Stanford in 1971 where Judy was visiting a medical school roommate, and Stuart was working as a physics post-doc. They were married the same year. They moved to Southern California while the Pasadena Art Museum was still one of the major creative forces in the art-world. They soon found contemporary art, particularly the California flavor of conceptual art, mattered to them in ways they could not have anticipated. This involvement with art has grown into a voyage of self-discovery. Judy has pursued her profession as a psychiatrist and psychoanalyst and Stuart has been in several high-tech ventures, and all the while this art has influenced every part of their lives.</p>
    <ul>
        <li>More about the artists featured in the collection</li>
        <li>More about Judy and Stuart Spence</li>
        <li>Show me the collection</li>
    </ul>
    <div class="clear"></div>
</div>

<div class="sticker floatRight" style="width: 430px;">
    <div class="stickerHeading"><h1>Featured Works</h1></div>
    <div class="center">
        <a class="fancybox" rel="fancybox" title="I will not make any more boring art" href="/resources/photos/artwork23/full_32.jpeg"><img src="/resources/photos/artwork23/med_32.jpeg"></img></a>
        <div class="caption"><a href="/artwork/23/I_will_not_make_any_more_boring_art">I will not make any more boring art</a></div>
        <div class="caption">1971, <a href="/artist/3/John_Baldessari">John Baldessari</a>  |  Acquired 1975</div>
    </div>
</div>